@import "colors";
$carousel-indicator-active-bg: $main-tertiary;
$btn-primary-bg: $main-primary;
$btn-secondary-bg: $main-secondary;
$btn-info-bg: $main-tertiary;
$brand-primary:$main-secondary;
$btn-warning-bg: transparent;