$main-background: #e5e3e6;
$header-background: #3f0826;
$header-text: #fff;
$header-primary: #fff;
$header-secondary: #a3082a;
$header-tertiary: #8e233e;
$main-text: #140728;
$main-text2: #fff;
$main-primary: #300a54;
$main-secondary: #700b37;
$main-tertiary: #a3082a;
$main-quaternary: #0f0;
$main-icon: #40061f;
$main-iconActive: #a3082a;