    // Add custom font
    @import url(https://fonts.googleapis.com/css?family=Audiowide|Exo+2:300,400,500i,700);
    $font-family-base: 'Exo 2',
    sans-serif;
    $font-family-headers: 'Audiowide',
    cursive;
    // Import bootstrap and fontawesome
    @import "colors";
    @import "bootover";
    @import "../../node_modules/bootstrap/scss/bootstrap.scss";
    // @import "bootstrap";
    @import "font-awesome";
    // Bootstrap Starter Template Styles
    body {
        background-color: $main-background;
        color: $main-text;
    }
    
    header {
        background-color: $header-background;
        color: $header-text;
        // overflow-x: hidden;
        h3 {
            font-family: $font-family-headers;
        }
        .list-group-item,
        .dropdown-menu,
        .dropdown-item {
            background-color: $header-background;
            color: $header-text;
            border-color: rgba(255, 255, 255, 0.25);
            border-radius: 0;
            border-left-style: none;
            border-right-style: none;
            min-width: 0;
        }
        .dropdown-menu {
            left: 50%;
            transform: translateX(-50%);
            margin-top: 1.2rem;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        .dropdown-menu:after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -4px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 8px 4px;
            border-color: transparent transparent $header-background transparent;
        }
        .list-group-item:hover,
        .dropdown-item:hover {
            background-color: $header-text;
            color: $header-background;
        }
        .list-group-item.active,
        .dropdown-item.active {
            background-color: $header-secondary;
            border-color: $header-secondary;
        }
    }
    
    .header-medium-up {
        background: $header-background url("..\\img\\header_background.jpg") center top;
        background-repeat: no-repeat;
        .header-side {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .dropdown-menu:after {
            margin-left: -8px;
            border-width: 0 8px 16px 8px;
            border-color: transparent transparent $header-primary transparent;
        }
        .dropdown-menu {
            margin-top: 1.0rem;
            border: 1px solid $header-primary;
        }
        .header-menu {
            .row {
                height: 100%;
                p {
                    font-size: 0.8rem;
                }
                .menu-item:hover {
                    background-color: $header-primary;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $header-tertiary;
                    opacity: 0.75;
                }
                .menu-item.active {
                    background-color: $header-primary;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &>div,
                    &>div>i {
                        color: $header-secondary;
                        -webkit-text-fill-color: transparent;
                        background: transparent url("..\\img\\header_background.jpg") center top;
                        -webkit-background-clip: text;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -1.4rem;
                        left: 50%;
                        margin-left: -0.7rem;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 1.4rem 0.7rem 0 0.7rem;
                        border-color: $header-primary transparent transparent transparent;
                    }
                }
            }
        }
    }
    
    .no-padding {
        padding: 0;
    }
    
    .font-headers {
        font-family: $font-family-headers;
    }
    
    .row.is-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .row.is-flex>[class*='col-'] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }